Header set Access-Control-Allow-Origin 'https://taskforce.local'
Header set Access-Control-Allow-Headers 'Content-Type'
Header set Access-Control-Allow-Credentials 'true'

Options +FollowSymLinks
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
