[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
default-storage-engine=INNODB
init-connect='SET NAMES utf8'
character-set-server=utf8
collation-server=utf8mb4_unicode_ci
init-connect="SET NAMES utf8"
skip-character-set-client-handshake

[client]
default-character-set = utf8

[mysqldump]
default-character-set = utf8

[mysql]
default-character-set = utf8
