.input-danger + input {
    border-color: #FF116E;
}

.input-danger + input + span {
    color: #FF116E;
}

.five-rate {
    color: #ff7f50;
}

.five-rate span {
    background-image: url("../img/star-rate.png");
}

.three-rate {
    color: #c71d1d;
}

.three-rate span {
    background-image: url("../img/three-rate.png");
}

span.input-error {
    color: red;
}

.input-wide {
    width: 100%;
}

.login-button {
    width: 95%;
    margin: 10px;
    display: block;
    float: none;
}

.modal {
    -webkit-box-shadow: 0 9px 11px 0 rgba(50, 50, 50, 0.61);
    -moz-box-shadow:    0 9px 11px 0 rgba(50, 50, 50, 0.61);
    box-shadow:         0 9px 11px 0 rgba(50, 50, 50, 0.61);
}

.multiple-select-big {
    background-position: 585px 20px;
    margin-bottom: 10px;
}

.input-date {
  background-image: none;
}
